<%- include('partials/head', {'title': title}) %>
<style>
html,body {
  /* font-family: 'Open Sans', serif; */
  font-size: 14px;
  font-weight: 300;
}
body {
    background: #f6d2fa;
}
</style>
		<center>
                  <div class="form-container">
					
					<form action="/register" method="post">
<h1>Téglás Réka Beauty Shop Regisztráció</h1>
<table><tr><th>

<span>Felhasználónév</span></th><th><input class="input is-large" name="uname" type="text" placeholder="Felhasználónév" autofocus="" required></th>
<br>
</tr><tr>
<th>
<span>Jelszó</span></th><th><input class="input is-large" name="pwd" type="password" placeholder="Jelszó" required></th>
<br>
</tr>
<tr>
<center>
<center>
<th colspan="2">
<button class="login-btn"style="width:200px;">Regisztráció</button></th>
</form>
					
					
				</div>	
					
					
					
					
					
					
		

            
</body>



<%- include('partials/foot') %>
