.form-container
{
background-color:#f4b3ff;
position:relative;
top:200px;
align:center;
padding:50px;
width:40%;

font-family: 'Brush Script MT', cursive;
border-radius:25px;
}
input{
margin:30px;
padding:20px;
margin-right:40px;
font-family: 'Brush Script MT', cursive;
font-size:24px;
}
span{
margin-left:40px;
font-size:24px;
}
h1
{
font-size:30px;
}
.login-btn {
	box-shadow: 0px 10px 14px -7px #d052fa;
	background:linear-gradient(to bottom, #994fa4 5%, #fadbff 100%);
	background-color:#994fa4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #843e8a;
	width:160px;
	
}
.login-btn:hover {
	background:linear-gradient(to bottom, #fadbff 5%, #e357ff 100%);
	background-color:#fadbff;
}
.login-btn:active {
	position:relative;
	top:1px;
}
a
{
text-decoration: none;
color:white;
}