<meta charset="UTF-8">

   <ul>
<li><a href="/admin/dashboard" class="<% if(page=='home'){ %>is-active<% } %> ">Kezdőlap</a></li>
<li><a href="/admin/orders" class="<% if(page=='orders'){ %>is-active<% } %> ">Aktív rendelések</a></li>
          <li><a href="/admin/sales" class="<% if(page=='sales'){ %>is-active<% } %> ">Eladott termékek</a></li>
 <li><a href="/admin/manage" class="<% if(page=='manage'){ %>is-active<% } %> ">Termékek kezelése</a></li>
        <li><a href="/admin/new" class="<% if(page=='new'){ %>is-active<% } %> ">Új termék felvitele</a></li>
</ul>
